
	body {
		background-color: rgb(80,80,80);
	}

	.main {
	padding-top: 11px;
	margin: auto;
	width: 1700px;
	}

	.wrapper {
		margin-left: auto;
		margin-right: auto;
	}

	.borders {
		border-radius: 10px;
		box-shadow: 13px 13px 13px black;
	}

	.header {
		background-color: #909090;
		margin-left: auto;
		margin-right: auto;
		padding-left: 10px;
		height: 165px;
		margin-bottom: 30px;
	}

	.logo {
		position: absolute;
	}

	.img_logo {
		padding-top: 10px;
		height: 137px;
	}

	.loupe {
		text-align: right;
		margin-right: 30px;
		padding-top: 20px;
		margin-bottom: -20px;
		}
	
	.img_loupe {
		position: relative;
		height: 175px;
	}

	.reload {
		width: 25px;
		float: right;
		margin-top: -165px;
		margin-right: 10px;
	}

	.close {
		float: right;
		margin-top: -45px;
		margin-right: 10px;
	}

	.red {
		border: 5px solid red;
		border-radius: 4px;
	}

	.left {
		float: left;
		width: 175px;
		height: 550px;
		margin-left: 50px;
		background-color: #909090;
	}

	.right {
		float: right;
		width: 175px;
		height: 550px;
		margin-right: 50px;
		background-color: #909090;
	}

	ul {
		padding: 0px;

	}
	
	li {
		padding: 3px;
		text-align: center;
		list-style-type: none;
	}
	
	li img {
		width: 90px;
	}

	.wall {
		background-image: url(resources/brick.jpg);
		background-position: left bottom;
		background-repeat: repeat;
		height: 71px;
		width: 127px;
		margin: auto;
	}

	.cluster {
		height: 700px;
		margin: auto;
		width: fit-content;
		border: 10px solid #909090;
	}