
	body {
		width: 100%;
		color: #09303D;
		font-family: Helvetica, sans-serif;
		/* background-color: ivory; */
		background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2016/02/08/08/mendeleev.jpg?quality=75&width=990&auto=webp&crop=982:726,smart");
	}

	.main {
		padding: 0 30px;
		position: relative;
	}

	.header {
		position: relative;
		padding: 2em 1em;
		text-shadow: 3px 3px #2a2c2e1a;
		display: block;
		text-align: center;
	}

	h1 {
		text-align: center;
		font-size: 2.5vw;
		padding-right: 51px;
	}

	.img-container {
		padding: 1em 1em;
		display: flex;
		justify-content: center;
		padding-top: 3em;
	}

	.align{
		text-align: center;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 1.4vw;
		padding-top: 3em;
	}

	img {
		padding: 0.5em 1em;
		min-width: 50px;
		margin: auto;
		z-index: 1;
	}

	.table {
		table-layout: fixed;
		background-color:rgba(248, 248, 248, 0.712);
		box-sizing: border-box;
		margin: auto;
		padding: 15px;

	}

	.table-container {
		margin: auto;
		min-width: 100px;
	}

	td {
		min-width: 20px;
		margin: auto;
	}

	.element {
		min-width: 20px;
		margin: auto;
		border-style: solid;
		border-width: 1px;
		border-color: white;
	}

	.elem-style {
		padding: 0.1em;
	}

	.esymb {
		padding: 0.1em;
		text-align: center;
		font-size: 1.65vw;
		font-weight: bold;
	}

	.enum {
		text-align: left;
		font-size: 0.9vw;
	}

	.weight {
		text-align: right;
		font-size: 0.75vw;
	}

	.nonmetals {
		background-color: #FFF5DC;
	}

	.metaloids {
		background-color: #DDF1D6;
	}

	.metals {
		background-color: #D7EFFA;
	}

	.noblegases {
		background-color: #EED6D6;
	}

	.post-transition-metals {
		background-color: #CBECD4;
	}

	.alkalines {
		background-color: #E1D3EB;
	}

	.alkalimetals {
		background-color: #FFC4C4;
	}

	.lanthanides {
		background-color: #EBFFBD;
	}

	.actinides {
		background-color: #FFF9B3;
	}

	@media only screen and (min-width: 600px) {

		.main {
			display: flex;
			width: 100%;
			padding: 0;
			align-items: flex-start;
			flex-direction: column;
		}

		.header {
			min-width: 50px;
			padding: 0;
		}

		.img-container {
			width: 80%;
			padding: 0;
		}

		img {
			min-width: 50px;
			margin: auto;
			z-index: 1;
			padding: 0;

		}

		.table-container {
			min-width: 50px;
			margin: auto;
		}

		table {
			overflow-x: auto;
			min-width: 50px;
			margin: auto;
		}