html {
	font-size: 1.5vw;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #4d4d4d;
	text-align: left;
	margin: 0;
	font-weight: 300;
}

a {
	text-decoration: none;
	font-weight: 300;
	color: #4d4d4d;
	transition: color 400ms;
	border-color:rgba(29, 29, 29, 0);
	background-color: white;
}

a:hover {
	color: rgb(252, 194, 107);
}

.flex-container {
	display: flex;
}



/*dropdown content*/

.dropdown {
	padding: 16px;
	border: none;
}

.drop {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 180px;
	margin-top: 0.5em;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 1em;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.drop:hover .dropdown-content {
	display: block;
}
	
.drop:hover .dropdown {
	background-color: rgb(192 137 198 / 19%);
}

/*header*/

header {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
	z-index: 100;
	opacity: 90%;
}

.logo h1 {
	font-size: 1.5rem;
	font-weight: 550;
	color: rgb(29, 29, 29);
	opacity: 85%;
}

.nav-content {
	align-items: center;
	height: 4rem;
	padding: 0 1.5rem;
}

#light {
	font-weight: 300;
	color: #b3b3b3;
}

#logoimg {
	height: 3rem;
	margin-top: 0.5rem;
	opacity: 85%;
	padding: 5px;
}

.navspan {
	padding-right: 16px;
}

.nav-desktop {
	flex-grow: 1;
	text-align: right;
}
