<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hive Paint Factory</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div class="nav-content flex-container">
            <div class="logo">
                <img id="logoimg" src="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/452/external-sandwich-baking-and-bakery-icongeek26-outline-gradient-icongeek26.png" alt="School logo">
            </div>
            <div class="logo">
                <h1>Hive<span id="light"><a href="../index.php">Paint Factory</span></h1>
            </div>
            <div class="drop">
                <a class="navspan" href="../cart.php">Cart</a>
            </div>
            <div class="drop">
                <a class="navspan" href="../login.php">Login</a>
            </div>
            <div class="drop">
                <a class="navspan" href="../create.php">Sign up</a>
            </div>
        </div>
    </header>


    <main>
        <div class="first-section flex-container" id="flex_forms">
            <div class="forms">
                <div class="banner-text flex-container">
                    <h3>Thank you, your order is confirmed!</h3>
                    <h5>Order will be sent in 1-2 business days.</h5>
                </div>
            </div>
        </div>
    </main>